---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>
			<span class="text-gradient" id="">Internal Cookie set: <span id="cookieBoolean">False</span></span>
		</h1>
		<div style="padding: 24px 0;">
			<button id="deleteCookie" class="cta">Delete Cookie</button>
			<button id="addCookie" class="cta">Add Cookie</button>
		</div>
	</main>
</Layout>

<script>
	const isUK = window.location.origin.endsWith('.co.uk');
	const isAU = window.location.origin.endsWith('.com.au');
	const isFR = window.location.origin.endsWith('.fr');
	const isDE = window.location.origin.endsWith('.de');
	const isJP = window.location.origin.endsWith('.jp');
	const isBR = window.location.origin.endsWith('.br');
	const expireDate = 'Fri, 31 Dec 2027 07:00:00 GMT';

	if (isUK) {
		document.cookie = 'isInternalVisitor=true; expires='+ expireDate +'; domain=.crowdstrike.co.uk;path=/';
	}
	else if (isAU) {
		document.cookie = 'isInternalVisitor=true; expires='+ expireDate +'; domain=.crowdstrike.au;path=/';
	} 
	else if (isFR) {
		document.cookie = 'isInternalVisitor=true; expires='+ expireDate +'; domain=.crowdstrike.fr;path=/';
	}
	else if (isDE) {
		document.cookie = 'isInternalVisitor=true; expires='+ expireDate +'; domain=.crowdstrike.de;path=/';
	}
	else if (isJP) {
		document.cookie = 'isInternalVisitor=true; expires='+ expireDate +'; domain=.crowdstrike.jp;path=/';
	}
	else if (isBR) {
		document.cookie = 'isInternalVisitor=true; expires='+ expireDate +'; domain=.crowdstrike.br;path=/';
	}
	else {
		document.cookie = 'isInternalVisitor=true; expires='+ expireDate +'; domain=.crowdstrike.com;path=/';
	}

	console.log("Cookie: ", document.cookie)

</script>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.cta {
		display: inline-block;
		padding: 8px 16px;
		cursor: pointer;
	}
	.cta:first-child {
		margin-right: 12px;
	}
</style>
